<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>svlParticipacion</display-name>
    <servlet-name>svlParticipacion</servlet-name>
    <servlet-class>svl.svlParticipacion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>svlParticipacion</servlet-name>
    <url-pattern>/svlParticipacion</url-pattern>
  </servlet-mapping>
  <display-name>web_Onpe</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>svlActas</display-name>
    <servlet-name>svlActas</servlet-name>
    <servlet-class>svl.svlActas</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>svlActas</servlet-name>
    <url-pattern>/svlActas</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>svlActa</display-name>
    <servlet-name>svlActa</servlet-name>
    <servlet-class>svl.svlActa</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>svlActa</servlet-name>
    <url-pattern>/svlActa</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>svlPresidencial</display-name>
    <servlet-name>svlPresidencial</servlet-name>
    <servlet-class>svl.svlPresidencial</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>svlPresidencial</servlet-name>
    <url-pattern>/svlPresidencial</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>svlParticipacion1</display-name>
    <servlet-name>svlParticipacion1</servlet-name>
    <servlet-class>svl.svlParticipacion1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>svlParticipacion1</servlet-name>
    <url-pattern>/svlParticipacion1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>svlResultados2</display-name>
    <servlet-name>svlResultados2</servlet-name>
    <servlet-class>svl.svlResultados2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>svlResultados2</servlet-name>
    <url-pattern>/svlResultados2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>svlResultados1</display-name>
    <servlet-name>svlResultados1</servlet-name>
    <servlet-class>svl.svlResultados1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>svlResultados1</servlet-name>
    <url-pattern>/svlResultados1</url-pattern>
  </servlet-mapping>
</web-app>